<option value="">Select category</option>
<option>Computer science</option>
<option>Communication</option>
<option>Law</option>
<option>Business Management</option>
<option>Finance</option>
<option>Accounting</option>
<option>Medicine</option>
<option>Psychology</option>
<option>Engineering</option>
<option>Other</option>
